* {
  margin: 0px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.map {
  height: 50vh;
  background: pink;
}

header {
  padding: 10px;
  text-align: center;
}

.footer_container {
  padding: 10px;
  background-color: gray;
}

.buttons {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.references {
  font-size: 8px;
}

.leaflet-container {
  height: 500px;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.start_button {
  width: 70px;
  height: 70px;
  background-color: green;
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.stop_button {
  width: 70px;
  height: 70px;
  background-color: red;
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  visibility: hidden;
}
.restart_button {
  width: 70px;
  height: 70px;
  background-color: blue;
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  visibility: hidden;
}
.container {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  place-items: center;
}

.speed_box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 50px;
  background-color: rgba(211, 211, 211, 0.5);
  grid-column: 1;
}

.elevation_box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 50px;
  background-color: rgba(211, 211, 211, 0.5);
  grid-column: 2;
  visibility: hidden;
}

.timer_box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 50px;
  background-color: rgba(211, 211, 211, 0.5);
  grid-column: 1 / 3;
}

.section_one {
  background: lightgray;
}
